
 body
 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}


    .credits-top {
      font-size: 0.80em;
      padding-right: 10px;
      padding-left: 10px;
      color: rgba(255, 255, 255, 0.5);

    }
    .download-btn {

      color: white;
      text-decoration:none;
      background: #1896c65c;
      box-shadow: 0px 0px 25px #1896c65c;
      
      padding-top: 13px !important;
      padding-right: 40px !important;
      padding-left: 40px !important;
      padding-bottom: 13px !important;
      
      border-radius: 100px;
      font-weight: bold;

    }

    .credits-bottom {
      font-size: 0.9em;
      padding-top: 100px !important;
      padding-right: 10px;
      padding-left: 10px;
      color: rgba(255, 255, 255, 0.5);

    }

    .installation {
      display: inline-block;
      padding: 30px;
      padding-left: 50px;
      padding-top: 5px !important;
      text-align: left;
      opacity: 0.9;
      font-size: 0.9em;
    }


    .dotted-list {
      display: inline-block;
      padding: 30px;
      padding-left: 50px;
      padding-top: 5px !important;
      text-align: left;
      opacity: 0.9;
      list-style-type: circle;
      font-size: 0.9em;
    }

    .warning-message {
      font-size: 0.7em;

      color: rgba(255, 255, 255, 0.8);
    }

  .twitter-link {
      color: rgba(255, 255, 255, 0.5);
        text-decoration: underline;
    }


  ul
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

ul li
{
  list-style: none;
  transition: 0.5s;
}

ul li a
{
  position: relative;
  display: block;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

ul:hover li
{
  opacity: 0.1;
}

ul li:hover
{
  opacity: 1;
}

ul li:hover a
{
  color: #ff0;
}

